page {
	background: #f8f8f8;
	padding-bottom: 50upx;
}

.homestayDetail {
	padding-bottom: 70upx;
}

.homestayDetail_banner {
	width: 750upx;
	height: 563upx;
}

.screen-swiper {
	width: 750upx;
	height: 563upx;
}

.screen-swiper image {
	width: 750upx;
	height: 563upx;
}

.detail_intro {
	width: 100%;
	background: #ffffff;
	margin-top: 20upx;
	padding: 30upx;
	box-sizing: border-box;
}

.detail_intro .top {
	width: 690upx;
	margin: 0 auto;
}

.detail_intro .top .first {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detail_intro .top .first .l {
	width: 460upx;
	font-size: 30upx;
	font-weight: bold;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.detail_intro .top .first .r {
	font-size: 24upx;
	color: #28282c;
}

.detail_intro .top .first .r text {
	font-size: 24upx;
	color: #f63a3e;
}

.detail_intro .top .first .r text text {
	font-size: 34upx;
	font-weight: bold;
	color: #f63a3e;
}

.detail_intro .top .second {
	display: flex;
	/* justify-content: space-between; */
	margin-top: 10upx;
}

.detail_intro .top .second .labela {
	height: 36rpx;
	background-color: #FFEFE5;
	border-radius: 18rpx;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
	padding: 0upx 16upx;
	box-sizing: border-box;
	text-align: center;
	margin-right: 15upx;
}

.detail_intro .top .second .labelb {
	height: 36rpx;
	background-color: #e5f2ff;
	border-radius: 18rpx;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36rpx;
	letter-spacing: 0rpx;
	color: #0084ff;
	padding: 0upx 16upx;
	box-sizing: border-box;
	text-align: center;
}

.detail_intro .top .second .l {
	font-size: 24upx;
	color: #28282c;
	width: 500upx;
	white-space: normal;
}

.detail_intro .top .second .r {
	font-size: 20upx;
	color: #7a7a7a;
}

.detail_intro .con {
	width: 690upx;
	margin: 0 auto;
	min-height: 100upx;
	background-color: #ffffff;
	border-radius: 10upx;
	border: solid 1px #ededed;
	margin-top: 40upx;
	padding: 30upx;
	text-align: justify;
	font-size: 28upx;
	line-height: 38upx;
	color: #28282c;
	position: relative;
}

.detail_intro .con image {
	width: 33upx;
	height: 28upx;
	background-color: #ffffff;
	position: absolute;
	padding: 5upx;
	top: -15upx;
}

.detail_intro .tip {
	width: 690upx;
	margin: 0 auto;
	margin-top: 10upx;
	display: flex;
	flex-wrap: wrap;
}

.detail_intro .tip text {
	margin-left: 35upx;
	font-size: 24upx;
	font-weight: 300;
	color: #7a7a7a;
	margin-top: 10upx;
}

.guideDetail_info {
	width: 750upx;
	height: 150upx;
	background-color: #ffffff;
	margin-top: 20upx;
}

.guideDetail_info_con {
	width: 690upx;
	height: 150upx;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.guideDetail_info_con_l {
	display: flex;
	align-items: center;
}

.guideDetail_info_con_l .img {
	width: 100upx;
	height: 100upx;
	border-radius: 50%;
}

.guideDetail_info_con_l .first {
	margin-left: 20upx;
}

.guideDetail_info_con_l .first .name {
	font-size: 30upx;
	font-weight: bold;
	color: #28282c;
}

.guideDetail_info_con_l .first .title {
	display: flex;
	align-items: center;
	margin-top: 10upx;
}

.guideDetail_info_con_l .first image {
	width: 30upx;
	height: 30upx;
}

.guideDetail_info_con_l .first text {
	font-size: 26upx;
	font-weight: bold;
	color: #fca62a;
	margin-left: 5upx;
}

.guideDetail_info_con .button {
	width: 151upx;
	height: 49upx;
	background-image: linear-gradient(235deg,
		#ff7112 0%,
		#ff8532 100%);
	border-radius: 24upx;
	padding: 0;
	font-size: 24upx;
	line-height: 49upx;
	color: #ffffff;
	text-align: center;
}

.house_type {
	width: 750upx;
	min-height: 100upx;
	background-color: #ffffff;
	margin-top: 20upx;
	padding-top: 1upx;
	padding-bottom: 40upx;
}

/* 套餐选择 */
.orderDetail {
	width: 690rpx;
	height: 60rpx;
	background-color: #FFEFE5;
	margin: 30upx auto 0upx;
	display: flex;
	align-items: center;
	padding: 12upx 30upx;
	box-sizing: border-box;
}

.orderDetail_left {
	width: 392upx;
	display: flex;
	align-items: center;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
	border-right: 1px solid #ff6600;
}

.orderDetail_left_heng {
	margin: 0upx 20upx;
}

.orderDetail_left_all {
	font-family: PingFang-SC-Regular;
	font-size: 20rpx;
	line-height: 24rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #ff6600;
	margin-left: 20upx;
}

.orderDetail_right {
	width: 267upx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.orderDetail_right_center {
	margin: 0upx 20upx;
}


.type_title {
	width: 690upx;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 30upx;
}

.type_title text {
	font-size: 30upx;
	font-weight: bold;
	color: #28282c;
}

.type_title .dot {
	width: 20upx;
	height: 20upx;
	background-color: #ff6600;
	color: #28282c;
	margin-right: 15upx;
}

.house_type_p {}

.house_type_list {
	width: 690upx;
	margin: 0 auto;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20upx;
	padding-top: 20upx;
	display: flex;
}

.house_type_list .up {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.house_type_list .up .l {
	font-size: 28upx;
	color: #28282c;
	width: 440upx;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.house_type_list .up .r {
	font-size: 24upx;
	color: #28282c;
	text-align: right;
}

.house_type_list .up .r text {
	color: #f63a3e;
}

.house_type_list .up .r text text {
	font-family: Arial-BoldMT;
	font-size: 34upx;
	color: #f63a3e;
}

.house_type_list .ud {
	display: flex;
	justify-content: space-between;
	margin-top: 5upx;
}

.house_type_list .ud .l {
	font-size: 24upx;
	color: #666666;
	width: 500upx;
}

.house_type_list .ud .l text {
	font-size: 14upx;
	vertical-align: super;
	margin-right: 15upx;
}

.house_type_list .ud .r {
	font-size: 20upx;
	color: #7a7a7a;
}

.facilities {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 690upx;
	margin: 0 auto;
	margin-top: 20upx;
}

.facilities view {
	font-size: 24upx;
	color: #28282c;
	display: flex;
	align-items: center;
	margin-right: 30upx;
}

.facilities view text {
	width: 12upx;
	height: 12upx;
	background: #28282c;
	border-radius: 50%;
	margin-right: 10upx;
}

.facilitiesa {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 690upx;
	margin: 0 auto;
	margin-top: 20upx;
}

.facilitiesa_bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 0rpx;
}

.facilitiesa_bottom view {
	font-size: 28upx;
	margin-right: 0rpx;
}

.house_policy {
	width: 690upx;
	margin: 0 auto;
	margin-top: 20upx;
	font-size: 28upx;
	color: #7a7a7a;
}

.cu-form-group {
	padding: 1px 30upx 1upx 0;
}

.guideDetail_schedule {
	width: 750upx;
	min-height: 750upx;
	background-color: #ffffff;
	margin-top: 20upx;
	/* margin-bottom: 150upx; */
}

.guideDetail_schedule_title {
	width: 690upx;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 28upx;
}

.guideDetail_schedule_title text {
	font-size: 30upx;
	font-weight: bold;
	color: #28282c;
}

.guideDetail_schedule_title .line {
	width: 6upx;
	height: 32upx;
	background-color: #ff6600;
	border-radius: 3upx;
	margin-right: 10upx;
}

/* 日历 */
.tui-modal-box {
	width: 690upx !important;
	top: 45% !important;
	min-height: 600upx;
	border-radius: 4px;
	padding-top: 20upx;
	padding-bottom: 30upx;
}

.calendar_title {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20upx;
}

.calendar_title image {
	width: 57rpx;
	height: 57rpx;
	padding: 20rpx;
}

.calendar_title text {
	font-size: 38upx;
	font-weight: 500;
	color: #333;
}

.calendar_week {
	width: 676upx;
	margin: 0 auto;
	display: flex;
	align-items: center;
	font-size: 24upx;
	color: #999;
	margin-top: 30upx;
	margin-bottom: 10upx;
}

.calendar_week view {
	width: 80upx;
	height: 40upx;
	margin: 8upx;
	text-align: center;
}

.calendar_days {
	width: 676upx;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.calendar_days .dayone {
	width: 96upx;
	height: 86upx;
	margin: 8upx 0;
	padding: 0 8upx;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
}

.calendar_days .dayone .day {
	color: #666;
	font-size: 28upx;
	width: 80upx;
	height: 25upx;
	margin-top: 14upx;
}

.calendar_days .dayone .price {
	color: #999999;
	font-weight: 300;
	font-size: 20upx;
	width: 80upx;
	height: 25upx;
}

.calendar_days .dayone .price text {
	margin-right: 5upx;
}

.colorc1 {
	color: #c1c1c1 !important;
}

.color6 {
	color: #666;
}

.sbgFF6600 {
	background: #FF6600;
	color: #fff;
	border-radius: 4px 0 0 4px;
}

.sbgFF6600 .day {
	color: #fff !important;
}

.sbgFF6600 .price {
	color: #fff !important;
}

.ebgFF6600 {
	background: #FF6600;
	color: #fff;
	border-radius: 0 4px 4px 0;
}

.ebgFF6600 .day {
	color: #fff !important;
}

.ebgFF6600 .price {
	color: #fff !important;
}

.bgFFEFE5 {
	background: #FFEFE5;
}
