.orderDetail {
	width: 750rpx;
	padding-bottom: 100upx;
}

.toptime {
	width: 100%;
	height: 60rpx;
	background-color: rgba(249, 233, 223);
	padding: 0px 30upx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.toptime image {
	width: 25rpx;
	height: 26rpx;
	margin-right: 9upx;
}

.timetext {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.toptimeok {
	width: 100%;
	height: 44upx;
	padding: 0upx 60upx;
	box-sizing: border-box;
	font-family: PingFang-SC-Regular;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 64upx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

/* 订单信息头部 */
.orderlist_item {
	width: 100%;
	height: 356upx;
	margin: 20upx auto;
}

.orderlist_item_bottom {
	width: 690rpx;
	height: 100%;
	background-color: #ffffff;
	border-radius: 8rpx;
	padding: 1upx 30upx 0upx;
	box-sizing: border-box;
	margin: 0upx auto;
}

.orderlist_item_bottom_top {
	height: 87upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
}

.orderlist_item_bottom_top_left {
	font-family: PingFang-SC-Medium;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 15rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.orderlist_item_bottom_top_right {
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 15rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.orderlist_itemcon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30upx;
}

.orderlist_itemcon_left {
	width: 200rpx;
	height: 150rpx;
	border-radius: 10rpx;
}

.orderlist_itemcon_right {
	width: 402upx;
	height: 150upx;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	padding: 9upx 0px;
	box-sizing: border-box;
}

.orderlist_itemcon_right_name {
	width: 402rpx;
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 35rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.specifications {
	width: 100%;
	/* margin: 27upx 0px 28upx; */
}

.orderlist_itemcon_right_moneya {
	width: 100%;
	display: flex;
	/* justify-content: space-between; */
	align-items: flex-end;
}

.item_moneytop_left_lefta {
	font-family: PingFang-SC-Bold;
	font-size: 22rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 22rpx;
	letter-spacing: 0rpx;
	color: #f50000;
}

.item_moneytop_left_centera {
	font-family: PingFang-SC-Bold;
	font-size: 36rpx;
	line-height: 36rpx;
	font-weight: 500;
	letter-spacing: 0rpx;
	color: #f50000;
}

.item_moneytop_left_righta {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	line-height: 36rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #999999;
}

.orderlist_itemcon_right_money {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item_moneytop_left_left {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.item_moneytop_left_right {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #999999;
}

.item_fly {
	margin-top: 30upx;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.item_fly_left {
	display: flex;
	align-items: center;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #999999;
	margin-left: 30upx;
}

.money {
	font-family: PingFang-SC-Bold;
	font-size: 22rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #f50000;
}

.item_fly_right {
	font-family: PingFang-SC-Bold;
	line-height: 36rpx;
	font-size: 36rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #f50000;
}

/* .ordertop {
	width: 690rpx;
	height: 165rpx;
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 0px 30upx;
	box-sizing: border-box;
}

.ordertop_top {
	width: 100%;
	height: 77upx;
	border-bottom: 1px solid #e1e1e1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ordertop_top_name {
	width: 60%;
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 34rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.ordertop_top_right {
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 15rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.ordertop_bottom {
	width: 100%;
	height: 87upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ordertop_bottom_left {
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.ordertop_bottom_right {
	display: flex;
	align-items: flex-end;
}

.ordertop_bottom_right_moneyicon {
	height: 22upx;
	font-family: PingFang-SC-Bold;
	font-size: 22rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 22rpx;
	letter-spacing: 0rpx;
	color: #f50000;
}

.ordertop_bottom_right_moneynum {
	font-family: PingFang-SC-Bold;
	font-size: 36rpx;
	line-height: 36rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #f50000;
} */
/* 酒店信息 */
.hotelitem {
	width: 690rpx;
	/* height: 280rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 1upx 30upx;
	box-sizing: border-box;
}

.hotelitem_top {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 30upx;
}

.hotelitem_top_left {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.hotelitem_top_right {
	display: flex;
	align-items: flex-end;
}

.hotelitem_top_right_img {
	width: 27rpx;
	height: 27rpx;
	margin-right: 13upx;
}

.hotelitem_top_right_text {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.hotelitem_list {
	margin: 40upx 0upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.hotelitem_list_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.hotelitem_list_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

/* 入住人信息 */
.checkDetail {
	width: 690rpx;
	/* height: 349rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 1upx 30upx;
	box-sizing: border-box;
}

.checkDetail_top {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin-top: 28upx;
}

.checkDetail_list:last-child {
	border: 0px;
}

.checkDetail_list {
	width: 100%;
	height: 94upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
}

.checkDetail_list_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 2rpx;
	color: #28282c;
}

.checkDetail_list_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 45rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

/* 订单详情 */
.ordercontent {
	width: 690rpx;
	/* height: 300rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 1upx 30upx;
	box-sizing: border-box;
}

.checkDetail_top {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin-top: 27upx;
}

.ordercontent_top {
	width: 100%;
	height: 114upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e1e1e1;
	padding: 0px 30upx;
	box-sizing: border-box;
}

.ordercontent_top_left {
	display: flex;
	align-items: center;
}

.ordercontent_top_left image {
	width: 60rpx;
	height: 60rpx;
	border-radius: 50%;
	margin-right: 16upx;
	font-size: 0px;
}

.ordercontent_top_left_name {
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.ordercontent_top_right {
	width: 151rpx;
	height: 49rpx;
	border-radius: 24rpx;
	border: solid 1px #ff6600;
	text-align: center;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 49rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.ordercontent_bottom {
	width: 100%;
	/* padding: 4upx 30upx;
	box-sizing: border-box; */
}

.ordercontent_bottom_title {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin-top: 30upx;
}

.ordercontent_bottom_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40upx 0px;
}

.ordercontent_bottom_item_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.ordercontent_bottom_item_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 15rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.orderbottom {
	width: 750upx;
	height: 100upx;
	position: fixed;
	bottom: 0upx;
	left: 0upx;
	display: flex;
	justify-content: center;
	align-items: center;
}

.orderbottom_left {
	width: 50%;
	height: 100%;
	border-top: 1px solid #e1e1e1;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100upx;
	letter-spacing: 0rpx;
	color: #999999;
	text-align: center;
	background: #FFFFFF;
}

.orderbottom_right {
	width: 50%;
	height: 100%;
	background-color: #ff6600;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100upx;
	letter-spacing: 0rpx;
	color: #ffffff;
	text-align: center;
}

.orderbottomno {
	position: fixed;
	left: 0rpx;
	bottom: 0rpx;
	width: 750rpx;
	height: 100rpx;
	background-color: #ffffff;
	box-shadow: 0rpx -1rpx 0rpx 0rpx rgba(153, 153, 153, 0.2);
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
	text-align: center;
}
/* 酒店订单明细 */
.detailed {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0upx;
	left: 0upx;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detailed_con {
	width: 600upx;

}

.detailed_con_top {
	width: 600rpx;
	/* height: 360rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	padding: 1upx 50upx;
	box-sizing: border-box;
}

.detailed_con_top_title {
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: bold;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin: 48upx auto 0upx;
	text-align: center;
}

.detailed_con_top_item {
	height: 25upx;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40upx 0upx;
}

.detailed_con_top_item_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.detailed_con_top_item_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.detailed_con_top_bottom {
	width: 100%;
	border-top: 1px solid #e1e1e1;
	height: 100upx;
}

.detailed_con_top_bottom_con {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: 29upx;
}

.detailed_con_top_bottom_con_left {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.detailed_con_top_bottom_con_right {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	line-height: 28rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.detailed_con_close {
	display: block;
	width: 54rpx;
	height: 54rpx;
	margin: 39upx auto;
}
