.videodetails{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
  }
  .videodetails_video{
    width: 100%;
	height: 100vh;
  }
  .videodetails_video video{
    width: 100%;
    outline-style: none;
	height: 100vh;
  }
  .author{
    position: absolute;
    left: 30upx;
    bottom: 150upx;
  }
  .author .author_top{
    display: flex;
    align-items: center;
  }
  .author .author_top image{
    width: 54upx;
    height: 54upx;
    background-color: #000000;
    border-radius: 27upx;
    border-radius: 50%;
    /* border: solid 2upx rgba(255, 255, 255, 1); */
  }
  .author .author_top view{
    font-size: 28upx;
    font-weight: bold;
    color: #ffffff;
    margin-left: 15upx;
  }
  .author_under{
    font-size: 28upx;
    color: #ffffff;
    margin-top: 30upx;
  }
  .right{
    position: absolute;
    right: 30upx;
    bottom: 225upx;
  }
  .right .one{
    text-align: center;
    margin-top: 30upx;
  }
  .right .one image{
    width: 60upx;
    height: 57upx;
  }
  .right .one view{
    font-size: 24upx;
    color: #ffffff;
  }
  .play{
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    width: 93upx;
    height: 93upx;
  }
  .comments{
    /* width: 750upx; */
    min-height: 590upx;
    background-color: #ffffff;
    /* margin-top: 20upx; */
    margin-bottom: 30upx;
  }
  .comments .title{
    text-align: center;
    font-size: 28upx;
    font-weight: bold;
    color: #999999;
  }
  .comments .title .close{
    width: 90upx;
	height: 60upx;
	padding: 0 30upx 30upx 30upx;
	float: right;
  }
  .comments .title text{
    font-size: 24upx;
    font-weight: 400;
    color: #999999;
  }
  .comments_list{
    width: 690upx;
    margin: 0 auto;
  }
  .comments_list .listone{
    display: flex;
    justify-content: space-between;
    margin-top: 37.5upx;
    margin-bottom: 22upx;
  }
  .comments_list .listone .headimage{
    width: 60upx;
    height: 60upx;
    border-radius: 50%;
    border: solid 2upx rgba(255, 102, 0, 0.5);
  }
  .comments_list .listone .con{
    width: 508upx;
  }
  .comments_list .listone .con .p{
    display: flex;
  }
  .comments_list .listone .con .p .name{
    font-size: 26upx;
    max-width: 338upx;
    font-weight: bold;
    color: #28282c;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
  }
  .comments_list .listone .con .p .time{
    font-size: 22upx;
    font-weight: 300;
    color: #999999;
    margin-left: 20upx;
  }
  .comments_list .listone .con .comment{
    font-size: 28upx;
    font-weight: 300;
    line-height: 42upx;
    color: #666666;
    margin-top: 15upx;
  }
  .comments_list .listone .vote{
    display: flex;
  }
  .comments_list .listone .vote image{
    width: 34upx;
    height: 34upx;
  }
  .comments_list .listone .vote view{
    font-size: 22upx;
    color: #28282c;
    margin-left: 9upx;
  }
  .listone_iner{
    width: 562upx;
    background-color: #f8f8f8;
    border-radius: 8upx;
    margin-left: 83upx;
    padding: 8upx 21upx;
  }
  .listone_inerp{
    margin-top: 30upx;
  }
  .listone_inerp .listone .headimage{
    width: 40upx;
    height: 40upx;
    border-radius: 50%;
    border: solid 2upx rgba(255, 102, 0, 0.5);
  }
  .listone_inerp .listone .con{
    width: 412upx;
  }
  .listone_inerp .listone .con .p .name{
    max-width: 240upx;
  }
  .none{
    width: 100%;
    text-align: center;
  }
  .none image{
    width: 262upx;
    margin-top: 75upx;
  }
  #durationbar{
    position: absolute;
    /* background: rgba(255, 255, 255,0.5); */
    bottom:75upx;
    width: 100%;
  }
  #positionBar{
    background: #fff;
    width: 100%;
  }
  .cu-progress.xs {
	height: 4rpx;
	background: #666;
  }
	.lookall{
	  font-size:28upx;
	  color: #999;
	  text-align: center;
	  margin-top: 40upx;
  }