.my {
	width: 750upx;
	min-height: 100vh;
	background: #F8F8F8;
	overflow: hidden;
}

.myTop {
	width: 750upx;
	height: 705upx;
	position: relative;
}

.myTop-topimg {
	width: 750upx;
	height: 400upx;
	font-size: 0upx;
}

.myTop-topimg-img {
	width: 100%;
	height: 100%;
}

.myTop-bottom {
	width: 100%;
	height: 320upx;
	background: #FFFFFF;
	position: absolute;
	bottom: 0upx;
	left: 0upx;
	z-index: 1;
	padding: 0upx 30upx;
	box-sizing: border-box;
	border-radius: 10rpx 10rpx 0rpx 0rpx;
}

.myTop-bottom-top {
	width: 100%;
	height: 200upx;
	display: flex;
	margin-top: 30upx;
}

.myTop-bottom-top-left {
	width: 160upx;
	height: 160upx;
	border-radius: 10upx;
	margin-right: 27upx;
}

.myTop-bottom-top-right {}

.myTop-bottom-top-right-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myTop-bottom-top-right-top-left {
	/* width: 200upx; */
}

.myTop-bottom-top-right-top-left-bottom {
	display: flex;
	align-items: center;
	margin-top: 21upx;
}

.serve_num {
	width: 60rpx;
	height: 30rpx;
	background-color: rgba(0, 216, 56, 0.2);
	border-radius: 4rpx;
	text-align: center;
	font-family: PingFang-SC-Medium;
	font-size: 20rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #00d838;
}

.role_zh {
	height: 30rpx;
	background-color: rgba(255, 102, 0, 0.2);
	border-radius: 4rpx;
	font-family: PingFang-SC-Medium;
	font-size: 20rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
	text-align: center;
	padding: 0px 10upx;
}

.myTop-bottom-top-right-title {
	display: flex;
	align-items: flex-end;
}

.myTop-bottom-top-name {
	max-width: 400upx;
	font-size: 30upx;
	font-family: PingFang SC;
	font-weight: bold;
	color: rgba(40, 40, 44, 1);
	line-height: 35upx;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.myTop-bottom-top-sex {
	width: 24upx;
	height: 24upx;
	margin-left: 14upx;
}

.myTop-bottom-top-right-word {
	width: 505upx;
	font-family: PingFang-SC-Regular;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 34rpx;
	letter-spacing: 0rpx;
	color: #666666;
	margin-top: 20upx;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.myCenter {
	width: 690rpx;
	height: 160rpx;
	background-color: #ffffff;
	box-shadow: 0rpx 0rpx 10rpx 0rpx rgba(40, 40, 44, 0.1);
	border-radius: 8rpx;
	position: absolute;
	z-index: 9;
	top: 646upx;
	left: 30upx;
}

.myCenter-top {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.myCenter-top-list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
/* 	padding: 0upx 67upx;
	box-sizing: border-box; */
}

.myCenter-top-list-item {
	text-align: center;
	width: 50%;
}

.myCenter-top-list-item:nth-child(1) {
	border-right: 1px solid #E1E1E1;
}

.myCenter-top-list-item-top {
	max-width: 45upx;
	max-height: 41upx;
	margin-bottom: 15upx;
}

.myCenter-top-list-item-bottom {
	font-size: 25upx;
	font-family: Arial;
	font-weight: 400;
	color: #999999;
	line-height: 25upx;
}
