.calendar {
	width: 750upx;
}

.guideDetail_schedule {
	width: 750upx;
	min-height: 750upx;
	background-color: #ffffff;
	/* margin-bottom: 150upx; */
	height: 100vh;
	padding: 1upx 0upx;
	box-sizing: border-box;
}

/* .guideDetail_schedule_title {
	width: 690upx;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 28upx;
}

.guideDetail_schedule_title text {
	font-size: 30upx;
	font-weight: bold;
	color: #28282c;
}

.guideDetail_schedule_title .line {
	width: 6upx;
	height: 32upx;
	background-color: #ff6600;
	border-radius: 3upx;
	margin-right: 10upx;
} */

.guideDetail_bottom {
	width: 750upx;
	height: 100upx;
	background-color: #ffffff;
	box-shadow: 0px -1px 0px 0px rgba(40, 40, 44, 0.2);
	position: fixed;
	bottom: 0;
}

.guideDetail_bottom_con {
	width: 690upx;
	height: 100upx;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.guideDetail_bottom_con_l {}

.guideDetail_bottom_con_l .t1 {
	font-size: 22upx;
	color: #999999;
}

.guideDetail_bottom_con_l .t2 {
	font-size: 22upx;
	font-weight: bold;
	color: #f50000;
}

.guideDetail_bottom_con_l .t3 {
	font-size: 36upx;
	font-weight: bold;
	color: #f50000;
}

.guideDetail_bottom_con_l .t4 {
	font-size: 26upx;
	color: #28282c;
}

.guideDetail_bottom_con_r {
	width: 160upx;
	height: 54upx;
	line-height: 54upx;
	background-color: #ff6600;
	border-radius: 8upx;
	text-align: center;
	font-size: 28upx;
	color: #ffffff;
}

/* 日历 */
.tui-modal-box {
	width: 690upx !important;
	top: 45% !important;
	min-height: 600upx;
	border-radius: 4px;
	padding-top: 20upx;
	padding-bottom: 30upx;
}

.calendar_title {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20upx;
}

.calendar_title image {
	width: 57rpx;
	height: 57rpx;
	padding: 20rpx;
}

.calendar_title text {
	font-size: 38upx;
	font-weight: 500;
	color: #333;
}

.calendar_week {
	width: 676upx;
	margin: 0 auto;
	display: flex;
	align-items: center;
	font-size: 24upx;
	color: #999;
	margin-top: 30upx;
	margin-bottom: 10upx;
}

.calendar_week view {
	width: 80upx;
	height: 40upx;
	margin: 8upx;
	text-align: center;
}

.calendar_days {
	width: 676upx;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.calendar_days .dayone {
	width: 96upx;
	height: 86upx;
	margin: 8upx 0;
	padding: 0 8upx;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
}

.calendar_days .dayone .day {
	color: #666;
	font-size: 28upx;
	width: 80upx;
	height: 25upx;
	margin-top: 14upx;
}

.calendar_days .dayone .price {
	color: #999999;
	font-weight: 300;
	font-size: 20upx;
	width: 80upx;
	height: 25upx;
}

.calendar_days .dayone .price text {
	margin-right: 5upx;
}

.colorc1 {
	color: #c1c1c1 !important;
}

.color6 {
	color: #666;
}

.sbgFF6600 {
	background: #FF6600;
	color: #fff;
	border-radius: 4px 0 0 4px;
}

.sbgFF6600 .day {
	color: #fff !important;
}

.sbgFF6600 .price {
	color: #fff !important;
}

.ebgFF6600 {
	background: #FF6600;
	color: #fff;
	border-radius: 0 4px 4px 0;
}

.ebgFF6600 .day {
	color: #fff !important;
}

.ebgFF6600 .price {
	color: #fff !important;
}

.bgFFEFE5 {
	background: #FFEFE5;
}

.bottom_btn {
	width: 750rpx;
	height: 91rpx;
	background-color: #ff6600;
	position: fixed;
	bottom: 0upx;
	left: 0upx;
	font-family: PingFang-SC-Medium;
	font-size: 34rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 91rpx;
	letter-spacing: 0rpx;
	color: #ffffff;
	text-align: center;
}
