.orderDetail {
	width: 750upx;
}

.detailtop {
	width: 750upx;
	height: 195upx;
	background-image: url(../../../../../static/img/ordertopbg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0upx 30upx;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.detailtop_left {
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #ffffff;
	margin-top: 57upx;
}

/* 收货地址 */
.topcon {
	width: 690rpx;
	height: 200rpx;
	margin: -62upx auto 0upx;
	background-color: #ffffff;
	border-radius: 8rpx;
	display: flex;
	align-items: center;
	padding: 0upx 29upx;
	box-sizing: border-box;
}

.topcon_left {
	width: 34rpx;
	height: 45rpx;
	margin-right: 19upx;
}

.topcon_right {
	width: 555upx;

}

.topcon_right_top {
	display: flex;
	align-items: center;
	margin-bottom: 25upx;
}

.topcon_right_top_name {
	max-width: 300upx;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	margin-right: 30upx;
}

.topcon_right_top_tel {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #999999;
}

.topcon_right_bottom {
	width: 554rpx;
	font-family: PingFang-SC-Medium;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 42rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

/* 物流 */
.logistics {
	width: 690rpx;
	/* height: 160rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 35upx 30upx;
	box-sizing: border-box;
}

.logistics_list {
	margin-bottom: 30upx;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.logistics_listno {
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

/* 商品信息 */
.orderlist_item {
	width: 690upx;
	height: 356upx;
	margin: 20upx auto;
}

.orderlist_item_bottom {
	width: 690rpx;
	height: 100%;
	background-color: #ffffff;
	border-radius: 8rpx;
	padding: 1upx 30upx 0upx;
	box-sizing: border-box;
}

.orderlist_item_bottom_top {
	height: 87upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: bold;
	font-stretch: normal;
	line-height: 87upx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.orderlist_itemcon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30upx;
}

.orderlist_itemcon_left {
	width: 200rpx;
	height: 150rpx;
	border-radius: 10rpx;
}

.orderlist_itemcon_right {
	width: 402upx;
	height: 150upx;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	padding: 9upx 0px;
	box-sizing: border-box;
}

.orderlist_itemcon_right_name {
	width: 402rpx;
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 35rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.specifications {
	width: 100%;
	margin: 27upx 0px 28upx;
}

.orderlist_itemcon_right_money {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item_moneytop_left_left {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.item_moneytop_left_right {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #999999;
}

.item_fly {
	margin-top: 30upx;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.item_fly_left {
	display: flex;
	align-items: center;
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #999999;
	margin-left: 30upx;
}

.money {
	font-family: PingFang-SC-Bold;
	font-size: 22rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #f50000;
}

.item_fly_right {
	font-family: PingFang-SC-Bold;
	line-height: 36rpx;
	font-size: 36rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #f50000;
}

/* 供应商 */
.guideDetail_info {
	width: 690upx;
	height: 150upx;
	background-color: #ffffff;
	margin: 20upx auto;
}

.guideDetail_info_con {
	width: 690upx;
	height: 150upx;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0upx 30upx;
	box-sizing: border-box;
}

.guideDetail_info_con_l {
	display: flex;
	align-items: center;
}

.guideDetail_info_con_l .img {
	width: 100upx;
	height: 100upx;
	border-radius: 50%;
}

.guideDetail_info_con_l .first {
	margin-left: 20upx;
}

.guideDetail_info_con_l .first .name {
	font-size: 30upx;
	font-weight: bold;
	color: #28282c;
}

.guideDetail_info_con_l .first .title {
	display: flex;
	align-items: center;
	margin-top: 10upx;
}

.guideDetail_info_con_l .first image {
	width: 30upx;
	height: 30upx;
}

.guideDetail_info_con_l .first text {
	font-size: 26upx;
	font-weight: bold;
	color: #fca62a;
	margin-left: 5upx;
}

.guideDetail_info_con .button {
	width: 151upx;
	height: 49upx;
	background-image: linear-gradient(235deg,
		#ff7112 0%,
		#ff8532 100%);
	border-radius: 24upx;
	padding: 0;
	font-size: 24upx;
	line-height: 49upx;
	color: #ffffff;
	text-align: center;
}

.orderlist {
	width: 690rpx;
	background-color: #ffffff;
	border-radius: 8rpx;
	padding: 1upx 30upx;
	margin: 20upx auto 120upx;
}

.orderlistitem {
	margin: 30upx 0upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.orderlistitem_left {
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.orderlistitem_right {
	font-family: PingFang-SC-Medium;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.orderbottom {
	width: 750upx;
	height: 100upx;
	position: fixed;
	bottom: 0upx;
	left: 0upx;
	display: flex;
	justify-content: center;
	align-items: center;
}

.orderbottom_left {
	width: 50%;
	height: 100%;
	border-top: 1px solid #e1e1e1;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100upx;
	letter-spacing: 0rpx;
	color: #999999;
	text-align: center;
	background: #FFFFFF;
}

.orderbottom_right {
	width: 50%;
	height: 100%;
	background-color: #ff6600;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100upx;
	letter-spacing: 0rpx;
	color: #ffffff;
	text-align: center;
}

.orderbottomno {
	position: fixed;
	left: 0rpx;
	bottom: 0rpx;
	width: 750rpx;
	height: 100rpx;
	background-color: #ffffff;
	box-shadow: 0rpx -1rpx 0rpx 0rpx rgba(153, 153, 153, 0.2);
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
	text-align: center;
}
