.order {
	width: 750upx;
	padding: 1upx 0upx;
	box-sizing: border-box;
}

/* 头部产品信息 */
.ordertop {
	width: 690upx;
	height: 220upx;
	background-color: #ffffff;
	border-radius: 8upx;
	margin: 20upx auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0upx 30upx;
	box-sizing: border-box;
}

.ordertop_left {
	width: 200upx;
	height: 150upx;
	border-radius: 8upx;

}

.order_right {
	width: 402upx;
	height: 150upx;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	padding: 5upx 0upx;
	box-sizing: border-box;
}

.order_right_name {
	width: 402upx;
	/* height: 29px; */
	font-family: PingFang-SC-Bold;
	font-size: 30upx;
	font-weight: normal;
	font-stretch: normal;
	/* line-height: 32upx; */
	letter-spacing: 0upx;
	color: #28282c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.order_right_specifications {
	width: 100%;
	font-family: PingFang-SC-Medium;
	font-size: 26upx;
	font-weight: normal;
	font-stretch: normal;
	/* line-height: 28upx; */
	letter-spacing: 0upx;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.order_right_specifications_sight {
	width: 100%;
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	/* line-height: 28rpx; */
	letter-spacing: 0rpx;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.order_right_money {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.order_right_money_icon {
	font-family: PingFang-SC-Bold;
	font-size: 22rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 22rpx;
	letter-spacing: 0rpx;
	color: #f50000;
}

.order_right_money_num {
	font-family: PingFang-SC-Bold;
	font-size: 36rpx;
	line-height: 22rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #f50000;
}

.order_right_money_right {
	font-family: PingFang-SC-Medium;
	font-size: 24upx;
	line-height: 24upx;
	font-weight: normal;
	letter-spacing: 0upx;
	color: #999999;
}

/* 特产数量 */
.orderOther {
	width: 690upx;
	height: 200upx;
	background-color: #ffffff;
	border-radius: 8upx;
	margin: 20upx auto;
	padding: 28upx 30upx;
	box-sizing: border-box;
}

.orderOther_title {
	font-family: PingFang-SC-Heavy;
	font-size: 32upx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 32upx;
	letter-spacing: 0upx;
	color: #28282c;
	margin: 0upx 0upx 29upx;
}

.orderOther_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.orderOther_bottom_left {
	font-family: PingFang-SC-Bold;
	font-size: 28upx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28upx;
	letter-spacing: 2upx;
	color: #28282c;
}

.orderOther_bottom_right {
	display: flex;
	align-items: center;
}

.orderOther_bottom_right_reduce {
	width: 49rpx;
	height: 49rpx;
	border-radius: 7rpx;
}

.orderOther_bottom_right_num {
	font-family: MicrosoftYaHei;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 2rpx;
	color: #333333;
	margin: 0upx 30upx;
}

.orderOther_bottom_right_add {
	width: 49rpx;
	height: 49rpx;
	border-radius: 7rpx;
}

.orderOtherInformation {
	width: 690rpx;
	height: 360rpx;
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 1upx 30upx;
	box-sizing: border-box;
}

.orderOtherInformation_title {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin: 28upx 0upx 4upx;
}

.orderOtherInformation_list:nth-child(4) {
	border: 0upx;
}

.orderOtherInformation_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
	height: 94upx;
}

.orderOtherInformation_list_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 2rpx;
	color: #28282c;
}

.orderOtherInformation_list_right {
	border: 0upx;
	text-align: right;
}

/* 酒店信息 */
.hotelitem {
	width: 690rpx;
	height: 280rpx;
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 1upx 30upx;
	box-sizing: border-box;
}

.hotelitem_top {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 30upx;
}

.hotelitem_top_left {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.hotelitem_top_right {
	display: flex;
	align-items: flex-end;
}

.hotelitem_top_right_img {
	width: 27rpx;
	height: 27rpx;
	margin-right: 13upx;
}

.hotelitem_top_right_text {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.hotelitem_list {
	margin: 40upx 0upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.hotelitem_list_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.hotelitem_list_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

/* 入住人信息 */
.checkDetail {
	width: 690rpx;
	/* height: 349rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	margin: 20upx auto;
	padding: 1upx 30upx;
	box-sizing: border-box;
}

.checkDetail_top {
	font-family: PingFang-SC-Heavy;
	font-size: 32rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 32rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin-top: 28upx;
}

.checkDetail_list:last-child {
	border: 0px;
}

.checkDetail_list {
	width: 100%;
	height: 94upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
}

.checkDetail_list_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 2rpx;
	color: #28282c;
}

.checkDetail_list_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 45rpx;
	letter-spacing: 0rpx;
	color: #666666;
	text-align: right
}

/* .checkDetail_list_right_textarea {
	height: 50upx;
	padding-top: 10upx;
	padding-left: 2upx;
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 45rpx;
	letter-spacing: 0rpx;
	color: #666666;
	text-align: right
} */

/* 页面下方金额及按钮 */
.orderBottom {
	width: 750upx;
	height: 100upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0upx;
	left: 0upx;
}

.orderBottom_left {
	width: 377rpx;
	height: 100rpx;
	background-color: #ffffff;
	border-top: solid 1rpx #e1e1e1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.orderBottom_left_con {
	display: flex;
	align-items: flex-end;
}

.orderBottom_left_con_left {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	line-height: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #28282c;
}

.orderBottom_left_con_right {
	font-family: PingFang-SC-Bold;
	font-size: 36rpx;
	line-height: 36rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #f03030;
}

.orderBottom_right {
	width: 374rpx;
	height: 100rpx;
	background-color: #ff6600;
	font-family: PingFang-SC-Medium;
	font-size: 30rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 100upx;
	letter-spacing: 0rpx;
	color: #ffffff;
	text-align: center;
}

/* 酒店订单明细 */
.detailed {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0upx;
	left: 0upx;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detailed_con {
	width: 600upx;

}

.detailed_con_top {
	width: 600rpx;
	/* height: 360rpx; */
	background-color: #ffffff;
	border-radius: 8rpx;
	padding: 1upx 50upx;
	box-sizing: border-box;
}

.detailed_con_top_title {
	font-family: PingFang-SC-Bold;
	font-size: 30rpx;
	font-weight: bold;
	font-stretch: normal;
	line-height: 30rpx;
	letter-spacing: 0rpx;
	color: #28282c;
	margin: 48upx auto 0upx;
	text-align: center;
}

.detailed_con_top_item {
	height: 25upx;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40upx 0upx;
}

.detailed_con_top_item_left {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	font-weight: 500;
	font-stretch: normal;
	line-height: 28rpx;
	letter-spacing: 0rpx;
	color: #28282c;
}

.detailed_con_top_item_right {
	font-family: PingFang-SC-Medium;
	font-size: 26rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.detailed_con_top_bottom {
	width: 100%;
	border-top: 1px solid #e1e1e1;
	height: 100upx;
}

.detailed_con_top_bottom_con {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: 29upx;
}

.detailed_con_top_bottom_con_left {
	font-family: PingFang-SC-Medium;
	font-size: 24rpx;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24rpx;
	letter-spacing: 0rpx;
	color: #666666;
}

.detailed_con_top_bottom_con_right {
	font-family: PingFang-SC-Bold;
	font-size: 28rpx;
	line-height: 28rpx;
	font-weight: normal;
	letter-spacing: 0rpx;
	color: #ff6600;
}

.detailed_con_close {
	display: block;
	width: 54rpx;
	height: 54rpx;
	margin: 39upx auto;
}
